.feature {
    column-count: 2;
    column-gap: 2em;
}

.site-header {
    padding: 33px !important;
}

.nosidepad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.text-bg {
    background-image: url("./images/logobg.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
}

.background {
    background-color: #cfcece;
}

footer a {
    color: #495057;
    text-decoration: none;
  }