.feature {
    column-count: 2;
    column-gap: 2em;
}

.site-header {
    padding: 33px !important;
}

.nosidepad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.text-bg {
    background-image: url("./images/logobg.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
}

.background {
    background-color: #cfcece;
}

footer a {
    color: #495057;
    text-decoration: none;
}

.hashSelected {
    margin-left: -6px;
    border-left: 6px solid #4e93fb !important;

    background-color: #d7e4f5;

    animation: blink 1s;
    animation-iteration-count: 5;
}

@keyframes blink { 50% { 
    border-color:#fff; 
    background-color: #fff;
}}